.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #D9D9D9;
  margin-bottom: 0px;
  width: 100%;
}

.class-nav {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a,
.navbar a img {
  display: block;
  width: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.table {
  margin-bottom: 20px;
  /* max-width: 90%; */
}

.table thead th {
  background-color: #f0f0f0;
  color: #333;
}

.table tbody td {
  background-color: #fff;
  color: #333;
}

.btn {
  margin-right: 10px;
  padding: 5px 10px;
}

.btn-tambah-data {
  background-color: rgb(0, 163, 0) !important;
  border: 1px solid rgb(0, 163, 0) !important;
}

/* Style for hover state */
.btn-tambah-data:hover {
  background-color: #76c76b !important;
}

.pagination-container {
  display: flex;
  width: 100%;
}

.pagination {
  list-style: none;
  padding: 0;
}

.pagination li a {
  color: #007bff !important;
  background-color: transparent !important;
}

.pagination li.active a {
  color: white !important;
  background-color: #007bff !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.btn-tambah-data {
  margin-right: auto;
}


@media (max-width: 768px) {

  /* Mengubah tata letak navbar */
  .class-nav {
    align-items: center;
  }

  /* Mengubah ukuran gambar di navbar */
  .navbar a img {
    height: 30px;
    /* Sesuaikan ini sesuai dengan kebutuhan */
    margin-bottom: 5px;
    /* Memberikan sedikit ruang antara gambar */
  }

  /* Membuat tabel scrollable secara horizontal */
  .table-container {
    overflow-x: auto;
  }

  .table {
    width: 100%;
  }


  /* Kecilkan ukuran font dan padding pada tombol dan teks */
  .btn, .table th, .table td, .pagination li a {
    font-size: 12px;
    padding: 5px;
  }

  /* Mengatur ulang padding dan margin */
  .header-container {
    padding: 10px;
    margin: 10px;
  }

  /* Mengatur tampilan modal */
  .modal-body, .modal-footer, .modal-header {
    padding: 10px;
    /* Kurangi padding */
  }
}

@media (max-width: 360px) {
  .class-nav {
    align-items: center;
  }

  .navbar a img {
    height: 25px;
    margin-bottom: 5px;
  }

  .table-container {
    overflow-x: auto;
  }

  .table {
    width: 100%;
  }

  .btn, .table th, .table td, .pagination li a {
    font-size: 10px;
    padding: 3px;
  }

  .header-container {
    padding: 10px;
    margin: 10px;
  }

  .modal-body, .modal-footer, .modal-header {
    padding: 10px;
  }
}